[include]
        path = ~/.gitconfig-user
[color]
	ui = auto
[core]
	editor = "if type nvr >/dev/null 2>&1; then ED='nvr -cc split --remote-wait-silent'; else ED='nvim'; fi; $ED"
	excludesfile = ./.config/git/gitignore_global
	pager = delta
[merge]
	tool = vimdiff
	ff = only
[alias]
	a = add
	aa = add --all
	ap = add --patch
	b = branch
	bd = branch -d
        branches = branch -av
	browse = "!hub browse"
	can = commit --amend --no-edit
	ci = commit
	co = checkout
	cob = checkout -b
	compare = "!hub compare"
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	glog = log -E -i --grep
	l = log --oneline --decorate --graph --all -20
	last = log -1 HEAD
	ls = log --oneline --graph --decorate --simplify-by-decoration
	mup = "!git checkout master && git pull && git checkout -"
	p = push
	pr = pull-request
        publish = "!git push -u origin $(git branch-name)"
        remotes = remote -v
	ri = rebase -i
        stashes = stash list
	su = stash -u
        tags = tag
	unchange = checkout --
	uncommit = reset --soft HEAD^
        unpublish = "!git push origin :$(git branch-name)"
	unstage = reset HEAD --
	vdf = difftool
[url "https://aur.archlinux.org/"]
  insteadOf = "a:"
[url "https://github.com/"]
  insteadOf = "g:"
[push]
	default = upstream
[github]
	user = munyari
; [commit]
; 	gpgsign = true
[fetch]
	prune = true
[gitsh]
	noGreeting = true
	defaultCommand = status --short --branch && :echo
[gitsh "color"]
	default = cyan
	untracked = yellow
	modified = red
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = "nvim -d  \"$LOCAL\" \"$REMOTE\""
[delta]
        features = line-numbers
