# exclude bc of work stuff
ssh.nix
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/autoload/
nvim/.config/nvim/spell/en.utf-8.add.spl
nvim/.config/nvim/work.vim
nvim/.config/nvim/after/plugin/
nvim/.config/nvim/pack/
.devbox
