snippet align
\begin{align${1:*}}
  $2
\end{align$1}
$0
endsnippet

snippet frac
\frac{${1:a}}{${2:b}}$0
endsnippet

snippet $frac
$\frac{${1:a}}{${2:b}}$$0
endsnippet


snippet sqrt
\sqrt{${1:m}}$0
endsnippet

snippet sqrtn
\sqrt[${1:n}]{${2:m}}$0
endsnippet

snippet \R
\mathbb{R}
endsnippet

snippet \Q
\mathbb{Q}
endsnippet

snippet \N
\mathbb{N}
endsnippet

snippet \C
\mathbb{C}
endsnippet

snippet \Z
\mathbb{Z}
endsnippet

snippet $\Z
$\mathbb{Z}$0$
endsnippet
